apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: notify
spec:
  params:
    - name: message
      type: string
  steps:
    - name: echo
      image: alpine:3.19
      script: |
        echo "$(params.message)"