iapiVersion: v1
kind: ConfigMap
metadata:
  name: supervisor-config
  namespace: stock
data:
  supervisord.conf: |
    [unix_http_server]
    file=/tmp/supervisor.sock

    [inet_http_server]
    port=*:9001

    [supervisord]
    logfile=/tmp/supervisord.log
    logfile_maxbytes=50MB
    logfile_backups=10
    loglevel=info
    pidfile=/tmp/supervisord.pid
    nodaemon=false
    minfds=1024
    minprocs=200

    [rpcinterface:supervisor]
    supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

    [supervisorctl]
    serverurl=unix:///tmp/supervisor.sock

    [program:init]
    command=/data/stock/jobs/run_init.sh
    autostart=true
    autorestart=true
    startsecs=20
    priority=1
    stopasgroup=true
    killasgroup=true

    [program:cron]
    command=/data/stock/jobs/run_cron.sh
    autostart=true
    autorestart=true
    startsecs=20
    priority=1
    stopasgroup=true
    killasgroup=true

    [program:stock-web]
    command=/data/stock/jobs/run_web.sh
    autostart=true
    autorestart=true
    startsecs=20
    priority=1
    stopasgroup=true
    killasgroup=true