apiVersion: v1
kind: ConfigMap
metadata:
  name: dex
data:
  config.yaml: |
    issuer: http://dex.auth.svc.cluster.local:5556/dex
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    logger:
      level: debug
      format: text
    oauth2:
      skipApprovalScreen: true
    enablePasswordDB: true
    staticPasswords:
      - email: admin@example.com
        hash: $2a$12$y3q2gWj2i8z7SxF3dZg8Oexu6hslK8w4hL4i8S/EO5qQ1M.3XcFzO # bcrypt(admin)
        username: admin
        userID: "1"
    staticClients:
      - id: argo-cd
        redirectURIs:
          - "https://argo.bei.com/api/dex/callback"  # 外部域名回调
        name: "Argo CD Dex Client"
        secret: "argopassword"