apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devflow-demo-6
  namespace: argo-cd
spec:
  project: default
  source:
    repoURL: https://github.com/bsonger/devflow-common.git
    path: "."   # 必须有
    plugin:
      name: plugin
      parameters:
        - name: manifest-id
          string: 695662a486f12d0b5986d818
        - name: env
          string: prod
        - name: devflow-address
          string: http://devflow.app.svc.cluster.local:8080
        - name: consul-address
          string: http://consul-consul-server.consul.svc.cluster.local:8500

  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true